body{
    background: rgb(255,21,0);
background: linear-gradient(90deg, rgba(255,21,0,1) 0%, rgba(244,253,29,1) 50%, rgba(69,252,158,1) 100%);
    font-size: 20px;
    text-align: center;
    
}

.p{
    width: 500px;
    height: 300px;
}

.title{
    font-family: 'Alegreya Sans', sans-serif;
}

